@import "../../../constants";

.leftbar{
  position: absolute;
  width: 300px;
  height: 100%;
  margin-top: $title_bar_height;
  margin-bottom: 0px;
  border-right-style: dashed;
  border-width: 1px;
  z-index: 1;
  .user-head{
    position: relative;
    top: 50px;
    width: 300px;
    height: 70px;
    border-color: #fc7c72;
    border-bottom-style: dashed;
    border-width: 1px;
    .user{
      text-align: right;
      img{
        width: 50px;
      }
    }
    .company{
      font-size: 18px;
      color: #000e3f;
    }
    .company-desc{
      font-size: 13px;
      color: #676f8b;
    }
  }
  .money-left{
    position: relative;
    top: 100px;
    width: 300px;
    height: 160px;
    border-width: 1px;
    border-bottom-style: dashed;
    .money-img{
      position: relative;
      width: 200px;
      div{
        top: 5px;
        color: #b3b7c6;
        font-size: 13px;
      }
      img{
        left: 10px;
        width: 55px;
      }
    }
  }
  .money{
    position: relative;
    text-align: center;
    margin: 20px 0px;
    font-size: 30px;
    color: #ff0000;
  }
}

.menu{
  position: relative;
  top: 110px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-group-item{
  text-align: center;
  border-style: none;
  cursor: pointer;
  &:hover{
    background-color: rgba(100,100,200,0.6);
    color: #FFFFFF;
}
  img{
    width: 20px;
    margin-right: 10px;
  }
}

.exit{
  text-align: center;
  position: absolute;
  top: 85%;
  width: 300px;
}
ul{
  li{
    &:hover{
      background-color: #0036fc;
      color: #FFFFFF;
    }
  }
}
