<div class="container">
  <div class="row">
    <div class="col-md-3 title">基本信息</div>
  </div>
  <div class="row">
    <div class="col-md-1">公司名称</div><div class="col-md-8"><input type="text"> </div>
  </div>
  <div class="row">
    <div class="col-md-1">企业官网</div><div class="col-md-8"><input type="text"> </div>
  </div>
  <div class="row">
    <div class="col-md-1">公司地址</div><div class="col-md-8"><input type="text"> </div>
  </div>
  <div class="row">
    <div class="col-md-1">联系人</div><div class="col-md-8"><input type="text"> </div>
  </div>
  <div class="row">
    <div class="col-md-1">联系电话</div><div class="col-md-8"><input type="text"> </div>
  </div>
  <div class="row">
    <div class="col-md-1">电子邮箱</div><div class="col-md-8"><input type="text"> </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
    <button class="btn btn-blue">保存</button>
    </div>
  </div>
</div>
