<div class="container">
  <div class="row">
    <div class="col-md-3 title">修改密码</div>
  </div>
  <div class="row" style="margin-bottom: 30px">
    <div class="col-md-10 tips">安全性高的密码可以使账号更安全，建议定期更新密码，设置一个包含字母、符合或数字中至少有两项目且长度超过6位的密码</div>
  </div>
  <div class="row">
    <div class="col-md-8"><input type="text" placeholder="请输入原始密码" [(ngModel)]="newUser.pwd">原始密码</div>
  </div>
  <div class="row">
    <div class="col-md-8"><input type="text" placeholder="请输入新密码" [(ngModel)]="newUser.newpwd">新密码</div>
  </div>
  <div class="row">
    <div class="col-md-8"><input type="text" placeholder="请确认新密码" [(ngModel)]="newUser.pwdagain">确认新密码</div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <button class="btn btn-blue" (click)="modifyCode()">保存</button>
    </div>
  </div>
</div>
