<app-title-bar></app-title-bar>
<div class="container">
  <div class="row">
    <div class="col-md-12 title">找回密码</div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <input type="text" placeholder="请输入您的邮箱" [(ngModel)]="email">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2"><input type="text" placeholder="请输入验证码" [(ngModel)]="vcode"></div>
    <div class="col-md-2 vcode3" title="点击刷新验证码" (click)="getCode()"><img id="vcode3" src=""></div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><button class="btn btn-blue">发送密码找回邮件</button></div>
  </div>
</div>
