<div class="search-bar row">
  <!--div class="leftheader"-->
    <div class="logo col-md-1">
    <img class="center-block" src="../../../assets/images/nav_logo.svg" (click)="backHome()">
    </div>
    <div class="menu_fold col-md-1">
      <img src="../../../assets/images/btn_menuunfold.svg" (click)="fold_unfold()" id="fold">
    </div>
  <!--/div-->
  <div class="search-container col-md-3">
    <img src="../../../assets/images/btn_search_white.svg" class="search_img" (click)="search()">
    <div class="search-input">
      <input type="text" placeholder="请输入您需要查询的特征" [(ngModel)]="keywords" (keypress)="keypress($event)">
    </div>
  </div>
  <div class="">
    <ol class="breadcrumb headerright">
      <li role="presentation"><img src="../../../assets/images/icon_about.svg"><a href="#" style="margin-right: 60px">关于分维</a></li>
      <li role="presentation"><img src="../../../assets/images/icon_help.svg"><a href="#" style="margin-right: 80px">帮助</a></li>
      <li *ngIf="!userInfo.isLogin" id="login" role="presentation"><a (click)="getCode()" data-toggle="modal" data-target="#loginModal1">登录</a></li>
      <li *ngIf="!userInfo.isLogin" id="reg" role="presentation"><a href="" style="margin: 0px 10px">|</a></li>
      <li *ngIf="!userInfo.isLogin" role="presentation"><a (click)="getCode()" data-toggle="modal" data-target="#regModal1">注册</a></li>
      <li *ngIf="userInfo.isLogin" role="presentation" class="dropdown"><a id="baseinfo" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{userInfo.user_id}}</a>
        <ul class="dropdown-menu" aria-labelledby="baseinfo">
          <li class="center-block"><a (click)="basic_info()">基本资料</a></li>
          <li class="center-block"><a (click)="order_click()">订单报告</a></li>
          <li class="center-block"><a (click)="invoice_click()">发票管理</a></li>
          <li class="center-block"><a (click)="charge_click()">账号管理</a></li>
          <li class="center-block"><a (click)="logOut()">注销</a></li>
        </ul>
      </li>
    </ol>
  </div>
</div>
<app-login-reg (OnLogin)="onLogin()"></app-login-reg>
