@import '../../../_constants.scss';

.order-state{
    position: absolute;
    background: transparent;
    left: 0;
    height: 100%;
    width: 80px;
    padding-top: 40px;
    overflow: hidden;
    top: 80px;
    .state{
        display: flex;
        flex-direction: row;
        .state-left{
            text-align: center;
            width: 70px;
            height: 90px;
            padding: 10px 0;
            .img-box{
                display: block;
                width: 35px;
                margin: auto;
                >img{
                    width: 100%;
                    height: 100%;
                }
            }
            span{
                display: block;
                color: white;
                opacity: 0.5;
                margin-top: 10px;
            }
            .active{
                opacity: 1;
            }
        }
        .state-right{
            width: 8px;
            height: 90px;
            display: flex;
            flex-direction: column;
            .box{
                height: 81px;
                width: 9px;
                background-color: #0036fc;
            }
            .corner{
                width: 0;
                height: 0;
                border-top: 7px solid black;
                border-right: 9px solid transparent;
            }
        }

    }
    .dsahed-line{
        border-right: 1px dashed #ccc;
        height: 80px;
        width: 1px;
        margin: 20px 0;
        margin-left: 35px;
    }
}

.result-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 50px 0 0;
    .result-container1{
        padding: 6px 0;
        overflow: scroll;
        .result-container2{
            padding: 0 40px;
            .order-info{
                width: 100%;
                .title{
                    width: 100%;
                    height: 50px;
                    border-bottom: 1px solid #0036fc;
                    padding: 5px 30px 0 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span{
                        color: #0036fc;
                        font-size: $ft-title-s;
                        display: block;
                        width: 130px;
                        height: 100%;
                        border-bottom: 3px solid #0036fc;
                        padding-left: 30px;
                        padding-bottom: 5px;
                        line-height: 50px;
                    }
                }
                .content{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    .content-left{
                        width: 40%;
                        min-height: 300px;
                        padding: 10px;
                        border-right: 1px solid #ccc;
                        height: auto;
                        >div{
                            min-height: 300px;
                            height: 100%;
                            width: 100%;
                            display: flex;
                            align-items: center;
                        }
                    }
                    .content-right{
                        width: 60%;
                        max-height: 500px;
                      overflow-x: hidden;
                      overflow-y: scroll;
                        .item{
                            width: 100%;
                            display: inline-flex;
                            padding: 20px 0;
                            border-bottom: 1px #ccc dashed;
                            height: 110px;
                            align-items: center;
                            padding: 0 30px;
                            cursor: pointer;
                            line-height: 35px;
                            .item-left{
                                padding: 20px 20px 20px 0;
                                width: 140px;
                                height: 140px;
                            }
                          .item-right{
                            width: 100%;
                            .line1{
                              width: 100%;
                              display: inline-flex;
                              justify-content: space-between;
                              align-items: baseline;
                              h1{
                                margin-top: 0 !important;
                                padding-top: 0 !important;
                                font-size: 16px;
                                color: #000e3f;
                                font-weight: bold;
                                >span{
                                  color: #999999;
                                  font-size: $ft-tip;
                                }
                              }
                              .price{
                                color: #ff2600;
                                font-size: 20px;
                                float: right;
                              }
                              .price-free{
                                text-decoration: line-through;
                                font-size: $ft-content;
                              }
                            }
                            .line2{
                              font-size: 12px;
                              color: #b3b7c6;
                            }
                          }
                        }
                        .item:nth-last-child(1){
                            border-bottom: none;
                            cursor: default;
                        }
                        .total{
                            display: flex;
                            flex-direction: row-reverse;
                            align-items: flex-start;
                            padding: 20px;
                            height: 80px;
                            span{
                                font-size: $ft-title;
                            }
                            .price{
                                color: #ff2600;
                                font-size: 20px;
                                float: right;
                            }
                        }
                    }
                }
            }
            .address-info{
                width: 100%;
                .title{
                    width: 100%;
                    height: 30px;
                    border-top: 1px solid #0036fc;
                    padding: 0 30px 5px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span{
                        color: #0036fc;
                        font-size: $ft-title-s;
                        display: block;
                        width: 130px;
                        height: 100%;
                        border-top: 3px solid #0036fc;
                        padding-left: 30px;
                        padding-bottom: 5px;
                        line-height: 30px;
                    }
                }
                .content{
                    padding: 25px 30px;
                    width: 60%;
                    min-width: 700px;
                    .form-group{
                        input[type="text"]{
                            border-radius: 20px;
                            font-size: $ft-content;
                            padding-left: 30px;
                        }
                        .tip{
                            font-size: $ft-tip;
                            color: #cccccc;
                            margin-left: 30px;
                            margin-top: 10px;
                        }
                    }
                    .invoice-choice{
                        display: flex;
                        align-items: center;
                        span:nth-child(2){
                            font-size: $ft-title;
                            color: #333333;
                            margin-left: 20px;
                        }
                        span:nth-child(3){
                            font-size: $ft-tip;
                            color: #999999;
                            margin-left: 5px;
                        }

                    }
                    .invoice{
                        width: 100%;
                        .radio-grooup{
                            margin: 20px 0 0 30px;
                            label{
                                margin-right: 50px
                            }
                        }
                        .panel1{
                            margin: 10px 0 0 30px;
                        }
                        .panel3{
                            margin: 10px 0 0 30px;
                            .line{
                                display: flex;
                                .form-group{
                                    margin-right: 20px;
                                    width: 70%;
                                }
                                .form-group:nth-last-child(1){
                                    margin-right: 0;
                                    width: 30%;
                                }
                            }
                        }
                        .panel2{
                            margin: 30px 0 0 30px;
                            .address-title{
                                margin-bottom: 20px;
                                span:nth-child(1){
                                    font-size: $ft-title;
                                    color: #333333;
                                }
                                span:nth-child(2){
                                    font-size: $ft-tip;
                                    color: #999999;
                                    margin-left: 5px;
                                }
                            }
                            .line1{
                                display: flex;
                                .form-group{
                                    margin-right: $ft-content;
                                    width: 50%;
                                }
                            }
                            .line2{
                                display: flex;
                                .form-group{
                                    margin-right: $ft-content;
                                    width: 200px;
                                }
                            }
                            .line1>.form-group:nth-last-child(1), .line2>.form-group:nth-last-child(1){
                                margin-right: 0px;
                            }
                        }
                    }
                }
            }
            .pay-way{
                width: 100%;
                .title{
                    width: 100%;
                    height: 30px;
                    border-top: 1px solid #0036fc;
                    padding: 0 30px 5px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span{
                        color: #0036fc;
                        font-size: $ft-title-s;
                        display: block;
                        width: 130px;
                        height: 100%;
                        border-top: 3px solid #0036fc;
                        padding-left: 30px;
                        padding-bottom: 5px;
                        line-height: 30px;
                    }
                }
                .pay-way-img{
                    margin: 20px 30px 30px 20px;
                    height: auto;
                    border-radius: 30px;
                    min-width: 260px;
                    // border: 1px solid #ccc;
                    overflow: hidden;
                    padding: 8px 20px;
                    display: inline-block;
                    img{
                    }
                }
            }
        }
        .footer{
            display: flex;
            flex-direction: row-reverse;
            height: 100px;
            padding: 30px;
            border-top: 1px dashed #ccc;
            div{
                width: 60%;
            }

        }
    }

}

.form-group{
    margin-bottom: 20px;
}
.radio{
  top: 20px;
}
